<% if current_user %>
  <%= link_to "Sign Out", logout_path, method: :delete %>

  <h3>New Link</h3>

  <%= form_for(@link) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :url %>
    <%= f.text_field :url %>
    <%= f.submit "Add Link" %>
  <% end %>

  <h3>Your Links</h3>

    <div class="filter">
      <label for="link_filter_title">Search: </label>
      <%#= text_field :link, :filter_title %>
    </div>

    <div id="link-info" class="clearfix">

    </div>

  </div>
<% end %>
